body{
    margin:0px;
    padding: 0px;
    /*overflow: hidden;*/
    background-color:aqua;
    background-size: 100% 100%;
}
#fullscreen, #exit-fullscreen{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 14px;
    position: absolute;
    left: 30px;
    top:90%;
    color:wheat;

}
#exit-fullscreen{
    display: none;
}
#main{
 
    background-size: 100%;
}
#logo{
    position: absolute;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 200px;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top:100px;
    left:60px;
}
ul>li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:#ffff;
    margin-top: 50px; 
}
#msg{
    font-family: fantasy;
    font-size: 100px;
    color: white;
    position: absolute;
    top:50%;
    left: 25%;
    transform: translate(-50%,-50%);
    text-shadow: 0 10px 10px rgba(0,0,0,.1);
    display: none;
}
#msg2{
    width: 300px;
    font-family: fantasy;
    font-size: 35px;
    text-align:right;
    color: #ffff;
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    display:none;
}
#skate{
    top:70%;
    left:120%;
}
#main{
width: 200px;
height: 70px;
position: absolute;
top:80%;
left:50%;
perspective: 800px;
transform:translate(-50%,-50%);
cursor: pointer;
}
#box{
    width: 104%;
    height: 90%;
    display: block;
    background-color: #3F0063;
    font-family: Arial;
    font-size: 25px;
    color:#04C5D6;
    text-align: center;
    line-height: 33px;
    border-radius: 8px 8px 8px 8px;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 15px 30px rgba(59,2,97,.4);
    transition: all .5s;
}
#boxBottom{
    width: 99%;
    height: 12px;
    background-color: royalblue;
    position:absolute;
    top:80%;
    left:5px;
    right: 5px;
    border-radius: 0 0 31px 31px;
    transform:rotateX(-50deg);
    transition: all .5s;
}
#main:hover #box{
    color: #52Dee7;
    background-color: #4A0472;
    transform: rotateX(25deg);
    text-shadow: 0 10px 10px rgba(0,0,0,0.2);
    box-shadow: 0 25px 30px rgba(59,2,97,.4);
}
#main:hover #boxBottom{
    transform: rotateY(-15deg);
}
/*-------------FORM---------------------*/
#form{
    width: 450px;
    height: 490px;
    display: block;
    margin-left: 920px;
    margin-top: 10px;
    margin-right: 50px;
    /*background-color: white;*/
    text-align:left;
    position: relative;
}
#form >fieldset{
    background:#284B63;
    border-radius: 5px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    margin:0 10% 0 -6%;
    /* make fieldset above each other*/
    position: absolute;
}

/*hide all expect filedset*/
#form fieldset:not(:first-of-type){
display: none;
}
#form input, textarea{
    padding: 10px;
    border:2px solid #9896b5;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 90%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:#3c3a3a;
    font-size: 13px;
}
/*next-button*/
#form .action-next{
width: 80px;
background: #27AE60;
font-weight: bolder;
border-color: #27AE60;
border-radius: 2px;
cursor: pointer;
padding: 10px 5px;
margin: 10px 5px;
color: wheat;
}
#form .action-next:hover, #form .action-next:focus{
box-shadow: 0 0 0 2px white, 0 0 0 2px #27AE60;
}
/*first next-button in fieldset*/
#form .action-next-first{
    width: 80px;
	background: #27AE60;
    font-weight: bolder;
    border-color: #27AE60;
	color: wheat;
	border: 0 none;
	border-radius: 2px;
	cursor: pointer;
	padding: 10px 5px;
    margin: 10px 5 px;
}
#form .action-next-first:hover, #form .action-next-first:focus{
    box-shadow: 0 0 0 2px white, 0 0 0 2px #27AE60;
    }

/* previous button*/
#form .action-previous{
    width: 80px;
    background:#cd4545;
    font-weight: bolder;
    border-color: #cd4545;
    border-radius: 2px;
    cursor: pointer;
    padding:10px 5px;
    margin-left: 39px;
    margin-right: 110px;
    color:wheat;
}
#form .action-previous:hover, #form .action-previous:focus{
    box-shadow: 0 0 0 2px white, 0 0 0 2px #cd4545 ;
    }
#form .action-previous-last{
        width: 80px;
        background:#cd4545;
        font-weight: bolder;
        border-color: #cd4545;
        border-radius: 2px;
        cursor: pointer;
        padding:10px 5px;
        margin-left: 3px;
        margin-right: 110px;
        color:wheat;   
    }
 #form .action-previous-last:hover, #form .action-previous-last:focus{
        box-shadow: 0 0 0 2px white, 0 0 0 2px #cd4545 ;
        }
 #form .action-submit{
     width: 147px;
     background: #c9a628;
     font-weight: bolder;
     border-color: #c9a628;
     border-radius: 2px;
     cursor: pointer;
     padding: 10px 39px;
     margin-left: -2px;
     margin-right: 13px;
     color: wheat;
     
 }    
 #form .action-submit:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #c9a628;
 } 
 #form .action-submit:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #c9a628;
}         
label{
text-align: left;
font-weight: 400;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
color: #F4F9E9;
margin-bottom: 20px;
}
p{
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
margin-left: 189px;
margin-top: -26px;
}
#p-password{
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        margin-block-start: -13px;
        margin-left: 159px;
        color: white;
        margin-top: -14px;
        opacity: 0.5;
}
#p-keeplogin{
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 188px;
        color: white;
        margin-top: -23px;
        opacity: 0.5;
}
#progressbar{
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
.li-form{
    list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before{
    content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/* progress connector*/
#progressbar li:after{
    content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
/* green step-line after*/
#progressbar .li-form.active::before, #progressbar .li-form.active::after{
    background: #27AE60;
    color:white;
}
#progressbar li:first-child:after{
    /*connector is not needed before first step of registration*/
    content: none;
}

/* making completed steps green*/
 .li.li-form :first-child:active::before{
    background: #27AE60;
    color: aliceblue;
}
.li.li-form :first-child:active::after{
    background: #27AE60;
    color: aliceblue;
}
p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.fs-title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color:#F4F9E9;
    margin-bottom: 20px;
}
.fs-subtitle{
    font-weight: 400;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color:#F4F9E9;
    margin-bottom: 20px;
}
