body{
    margin:0px;
    padding: 0px;
    overflow: hidden;
    background-color:aqua;
    background-size: 100% 100%;
}
#fullscreen, #exit-fullscreen{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    left: 30px;
    top:90%;
    color:wheat;

}
#exit-fullscreen{
    display: none;
}
#main{
 
    background-size: 100%;
}
#logo{
    position: absolute;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 200px;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top:100px;
    left:60px;
}
ul>li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:#ffff;
    margin-top: 50px; 
}
#msg{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color:#ffff;
    position: absolute;
    top:50%;
    left:15%;
    transform: translate(-50%,-50%);
    text-shadow: 0 10px 10px rgba(0,0,0, 0.1);
    display: none;
}
#msg2{
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align:right;
    color: #ffff;
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    display:none;
}
#skate{
    /*position: absolute;*/
    top:70%;
    left:120%;
}
#main{
width: 200px;
height: 70px;
position: absolute;
top:80%;
left:50%;
perspective: 800px;
transform:translate(-50%,-50%);
cursor: pointer;
}
#box{
    width: 100%;
    height: 100%;
    display: box;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: :30px;
}