body{
    margin:0px;
    padding: 0px;
    /*overflow: hidden;*/
    background-color:aqua;
    background-size: 100% 100%;
}
#fullscreen, #exit-fullscreen{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 14px;
    position: absolute;
    left: 30px;
    top:90%;
    color:wheat;

}
#exit-fullscreen{
    display: none;
}
#main{
 
    background-size: 100%;
}
#logo{
    position: absolute;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 200px;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top:100px;
    left:60px;
}
ul>li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:#ffff;
    margin-top: 50px; 
}
#msg{
    font-family: fantasy;
    font-size: 100px;
    color: white;
    position: absolute;
    top:50%;
    left: 25%;
    transform: translate(-50%,-50%);
    text-shadow: 0 10px 10px rgba(0,0,0,.1);
    display: none;
}
#msg2{
    width: 300px;
    font-family: fantasy;
    font-size: 35px;
    text-align:right;
    color: #ffff;
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    display:none;
}
#skate{
    top:70%;
    left:120%;
}
#main{
width: 200px;
height: 70px;
position: absolute;
top:80%;
left:50%;
perspective: 800px;
transform:translate(-50%,-50%);
cursor: pointer;
}
#box{
    width: 104%;
    height: 90%;
    display: block;
    background-color: #3F0063;
    font-family: Arial;
    font-size: 25px;
    color:#04C5D6;
    text-align: center;
    line-height: 33px;
    border-radius: 8px 8px 8px 8px;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 15px 30px rgba(59,2,97,.4);
    transition: all .5s;
}
#boxBottom{
    width: 99%;
    height: 12px;
    background-color: royalblue;
    position:absolute;
    top:80%;
    left:5px;
    right: 5px;
    border-radius: 0 0 31px 31px;
    transform:rotateX(-50deg);
    transition: all .5s;
}
#main:hover #box{
    color: #52Dee7;
    background-color: #4A0472;
    transform: rotateX(25deg);
    text-shadow: 0 10px 10px rgba(0,0,0,0.2);
    box-shadow: 0 25px 30px rgba(59,2,97,.4);
}
#main:hover #boxBottom{
    transform: rotateY(-15deg);
}
/*-------------FORM---------------------*/
#form{
    width: 450px;
    height: 490px;
    display: block;
    margin-left: 920px;
    margin-top: 10px;
    margin-right: 50px;
    /*background-color: white;*/
    text-align:left;
}
#form >fieldset{
    background:#284B63;
    border-radius: 5px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    margin:0 10% 0 -6%;
}

/*hide all expect filedset*/
#form fieldset:not(:first-of-type){
display: none;
}
#form input, textarea{
    padding: 10px;
    border:2px solid #9896b5;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 90%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
/*next-button*/
#form .action-next{
width: 80px;
background: #27AE60;
font-weight: bolder;
border-color: #27AE60;
border-radius: 2px;
cursor: pointer;
padding: 10px 5px;
margin:10px 5px;
}
#progressbar{
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}
.li-form{
    list-style-type: none;
    color:#284B63;
    text-transform: uppercase;
    font-size:9px;
    width: 32.33%;
    display: -webkit-inline-box;
    float: left;
    position: relative;
}
.li-form::before{
    content: counter(step);
    counter-increment: step;
    width: 17px;
    line-height: 25px;
    display: block;
    font-size:18px;
    color: #284B63;
    background: #F4F9E9;
    border-radius:3px;
    margin: 0 auto 5 px auto; 
}
/* progress connector*/
.li-form:after{
    content: "";
    width: 100%;
    height: 1px;
    background: #F4F9E9;
    position: absolute;
    left: -75%;
    top:15px;
    z-index: -1;/* to put name behind the number*/
}
/* green step after*/
#progressbar .li-form.active::before, #progressbar .li-form.active::after{
    background: #27AE60;
    color:white;
}
#progressbar li:first-child:after{
    /*connector is not before first step of registration*/
    content: none;
}

/* making completed steps green*/
 .li.li-form :first-child:active::before{
    background: #27AE60;
    color: aliceblue;
}
.li.li-form :first-child:active::after{
    background: #27AE60;
    color: aliceblue;
}
p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.fs-title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color:#F4F9E9;
    margin-bottom: 20px;
}
.fs-subtitle{
    font-weight: 400;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color:#F4F9E9;
    margin-bottom: 20px;
}
