/*==============================================================================================
                    BLOG- properties
==============================================================================================*/

html{
    font-family:proxima nova;
    margin: 0;
    padding:0;
    border:0;
    outline:0;
    font-size:50%;
    vertical-align:baseline;
    /*background:transparent (0,0,0,0.1);*/
    
}
   .p-blog {
    color:tomato !important;

}
