/*===========================================================================================
COMMON FEATURES:
FONTS:Montserrat;
      Roboto
COLOR PALLETE:
TEAL BLUE: rgba(56, 106, 141, 1);#386a8d;(BUTTONS,ICONS,LINES,BACKGROUNDS)
PALE GOLD: rgba(229, 199, 137, 1);#002b60;(HEADINGS)
LIGHT STEEL BLUE: rgba(0, 81, 143);#00518f;(PARAGRAPHS)
OLIVINE: rgba(156, 176, 113, 1);#9cb071;(TEXT WITH SPECIAL BACKGROUNDS)
SUNRAY: rgba(236, 183, 89, 1);#ecb759;(SUPPORTED COLOR)

===========================================================================================*/

/*=======GENERAL PROPERTIES==========*/

html,
body {
    height: 100%;
}

h3 {
    text-transform: uppercase;
    color:#053467;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
p {
     color: #00518f;
    font-size:15px;
    font-weight: 300;

}
       
 

/*==============================================================================================
                        HOME 
==============================================================================================*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../img/head-creative.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 562px;
    padding-top: 334px;
}

@media screen and (min-width:600px) {
    #home-heading h3 {
        color:#002b60;
        font-size: 55px;
        font: weight 900;
        margin: 20px 0px 20px 0;
        text-transform: uppercase;
    }
}

/*==============================================================================================
                        PARALLAX properties
==============================================================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*==============================================================================================
                    BUTTONS-general properties
==============================================================================================*/

.btn-general {
    border-color: #fff;
    border-width: 2px;
    border-radius: 0;
    padding: 17px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #386a8d;
}

.btn-blue {
    border-color:#386a8d;
    color:#386a8d;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color:#386a8d;
    color: #fff;
}

/*==============================================================================================
                    ANIMATE-general properties
==============================================================================================*/

#home-cover {
    -animation-duration: 3s;
    -animation-delay: 2s;
}

#home-heading {
    -animation-duration: .5s;
    -animation-delay: .5s;
}

#home-btn {
    -animation-duration: .1s;
    -animation-delay: .1s;
}
/*==============================================================================================
                    SERVICE section- properties
==============================================================================================*/
#content-box{
    padding: 60px 0px 60px 0px;
    margin-left: 25px;
    color:#002b60; 
}
#content-title h3{
font-size:25px;
font-weight:700;
text-align: center;
margin:0 0 30px 0px;
color:#002b60;
}
#content-title-underline{
    width: 35px;
    height: 3px;
    background-color: #386a8d;
    margin: 0 auto 0 auto;/*tick to make center underline*/
}
/*==============================================================================================
                    SERVICE section--inside -properties
==============================================================================================*/
.service-item{
    padding:20px 0 20px 0;
    margin-bottom:20px;
    cursor:pointer;
}
.service-item-icon i{
    color: #386a8d;
    float:left;
    padding: 20px;
    margin-right: 25px;
    height: 75px;
    width:75px;
    text-align: center;
}
.service-item:hover .service-item-icon i{
color:#fff;
background-color:#386a8d;
}
.service-item-title h3{
    font-size:25px;
    font-weight: 300;
    margin:0 0 15px 0;
    color:#002b60;
}
.service-item-desc p{
    margin:0;
    padding-left:15px;/*trick to make margin between p and icon*/ 
}

/*==============================================================================================
                    ABOUT section- properties
==============================================================================================*/

#about-content-box{
    float: left;
    height:700px;

}
#about-content-box-outer{
width: 100%;
height: 100%;
display: table;
}
#about-contnet-box-inner{
    display: table-cell;
    vertical-align: middle;
}
#about #content-title h3{
 text-align: left;   
}
#about  #content-title-underline{
    margin:0 0 30px 0;
    width: 30px;

}
#about-desc p{
    margin-bottom: 30px;
    
}