/*===========================================================================================
COMMON FEATURES:
FONTS:Montserrat;
      Roboto
COLOR PALLETE:
TEAL BLUE: rgba(56, 106, 141, 1);#386a8d;(BUTTONS,ICONS,LINES,BACKGROUNDS)
PALE GOLD: rgba(229, 199, 137, 1);#002b60;(HEADINGS)
LIGHT STEEL BLUE: rgba(0, 81, 143);#00518f;(PARAGRAPHS)
OLIVINE: rgba(156, 176, 113, 1);#9cb071;(TEXT WITH SPECIAL BACKGROUNDS)
SUNRAY: rgba(236, 183, 89, 1);#ecb759;(SUPPORTED COLOR)

===========================================================================================*/

/*=======GENERAL PROPERTIES==========*/

html,
body {
    height: 100%;
   
}

h3 {
    text-transform: uppercase;
    color:#053467;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
p {
     color: #00518f;
    font-size:15px;
    font-weight: 300;

}
       
 

/*==============================================================================================
                        HOME 
==============================================================================================*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../img/head-creative.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 562px;
    padding-top: 334px;
}

@media screen and (min-width:600px) {
    #home-heading h3 {
        color:#002b60;
        font-size: 55px;
        font: weight 900;
        margin: -200px 200px 20px -211px;
        text-transform: uppercase;
    }
}

/*==============================================================================================
                        PARALLAX properties
==============================================================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*==============================================================================================
                    BUTTONS-general properties
==============================================================================================*/

.btn-general {
    border-color: #fff;
    border-width: 2px;
    border-radius: 0;
    padding: 17px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
    margin-left: 14px;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #386a8d;

}

.btn-blue {
    border-color:#fff;
    background-color:#fff;
    color:#386a8d;
    border: 2px solid #386a8d;
    
}

#about-btn .btn-blue:hover {
    background-color:#386a8d;
    color:#fff;
    text-decoration: none;
}
.btn-blue:hover,.btn-blue:focus{
    background-color: #386a8d;
    color: #fff;
}
#back-to-top{
    position: fixed;
    bottom: 20px;
    right:20px;
    font-size:25px !important;
    padding: 3px 15px !important;
    border-radius: 0 !important;
    display:none; /* display in jquery*/
}

/*==============================================================================================
                    ANIMATE-general properties
==============================================================================================*/

#home-cover {
    -animation-duration: 3s;
    -animation-delay: 2s;
}

#home-heading {
    -animation-duration: .5s;
    -animation-delay: .5s;
}

#home-btn {
    -animation-duration: .1s;
    -animation-delay: .1s;
    margin-left: -450px;
}
/*==============================================================================================
                    CONTENT- properties-GENERAL
==============================================================================================*/
#content-box{
    padding: 60px 0px 60px 0px;
    margin-left: 25px;
    color:#002b60; 
}
#content-title h3{
font-size:25px;
font-weight:700;
text-align: center;
margin:0 0 30px 0px;
color:#002b60;
}
.content-title-white h3{
    color: #fff;
}

#content-title-underline{
    width: 35px;
    height: 3px;
    background-color: #386a8d;
    margin: 0 auto 15px auto;/*tick to make center underline*/
}

/*==============================================================================================
                    SERVICE section- properties
==============================================================================================*/
#content-box{
    padding: 60px 0px 60px 0px;
    margin-left: 25px;
    color:#002b60; 
}
#content-title h3{
font-size:25px;
font-weight:700;
text-align: center;
margin:0 0 30px 0px;
color:#002b60;
}
#content-title-underline{
    width: 35px;
    height: 3px;
    background-color: #386a8d;
    margin: 0 auto 15px auto;/*tick to make center underline*/
}
/*==============================================================================================
                    SERVICE section--inside -properties
==============================================================================================*/
.service-item{
    padding:20px 0 20px 0;
    margin-bottom:20px;
    cursor:pointer;
}
.service-item-icon i{
    color: #386a8d;
    float:left;
    padding: 20px;
    margin-right: 25px;
    height: 75px;
    width:75px;
    text-align: center;
}
.service-item:hover .service-item-icon i{
color:#fff;
background-color:#386a8d;
}
.service-item-title h3{
    font-size:25px;
    font-weight: 300;
    margin:0 0 15px 0;
    color:#002b60;
}
.service-item-desc p{
    margin:0;
    padding-left:15px;/*trick to make margin between p and icon*/ 
}

/*==============================================================================================
                    ABOUT section- properties
==============================================================================================*/
#about-bg-diagonal{
    width: 60%;
    height: 700px;
    float: left;
    background-image: url("../img/aboutUs.jpg");
    background-size: 100% 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-right: 200px solid #fff;
    border-top: 700px solid transparent;
}


#about-content-box{
    float: left;
    height:700px;

}
#about-content-box-outer{
width: 100%;
height: 100%;
display: table;
}
#about-contnet-box-inner{
    display: table-cell;
    vertical-align: middle;
}
#about #content-title h3{
 text-align: center;   
}
#about  #content-title-underline{
    margin:30px auto 27px auto;
    width: 30px;

}
#about-desc p{
    margin-bottom: 30px;
    
}
/*==============================================================================================
                     PORTFOLIO section- properties
==============================================================================================*/
/* [] helps  to select all elements in row  which have the same class attribute*/
.row.no-gutters [class*=col-]{
 padding-left: 0;
 padding-right: 0;
}
.img-wrapper{
    overflow:hidden;
}
.img-wrapper img{
    transition: transform .5s ease;   /* pop up effect with smooth zoom in time*/
}
.img-wrapper img:hover{
    transform: scale(1.5);
}
/*==============================================================================================
                     TEAM section- properties
==============================================================================================*/
.team-member{
    margin:0 15px;

}
.team-member-info{
   padding: 10px 0 30px 0px;

}
h4 .team-member-name{
    font-size:22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}
h4.team-member-position{
  color: #386a8d;
  font-size:15px;
  font-weight: 700;
  font-style:italic;
  letter-spacing: 1px;
  margin-top: 5px;
}
/*==============================================================================================
            SOCIAL MEDIA TEAM'S section- properties
==============================================================================================*/
.social-list{
    padding-left: 0;

}
.social-list li{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 7px;
}
.social-icon i.fab{
    font-size:20px;

}
.icon-white i{
    color:#386a8d;
    margin-left: 15px;

}
.icon-gray i.fab{
    color:#386a8d;
}
.social-icon i.fab:hover{
    color:#d6d6d6;
}
/*==============================================================================================
            REFERENCE CLIENT'S- properties
==============================================================================================*/
#reference-cover{
    background-image: url(../img/REFERENCE/background-reference.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-top: 550px;
}
#reference .content-box{
    background-color:rgba(158,158,158 ,1);
}
#content-title-reference h3{
color: #fff;
font-size:25px;
font-weight:700;
text-align: center;
margin:0 0 30px 0px;
}
#customers-reference{
    padding: 50px 0;
}
.reference img{
    max-width: 120px;
    margin: 0 auto 0 auto;
}
.reference blockquote{
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #fff;
    padding: 6px 150px;
    position: relative;

}
.reference blockquote p{
    color: #fff;
}

.reference blockquote::before,
.reference blockquote::after{
    font-size:80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 20px;
    position: absolute;
} 

.reference blockquote::before{
    content: "\201C";
    top:0;
    left:0;
}
.reference blockquote::after{
    content: "\201D";
    bottom: 0;
    right: 0;
}
.reference-author p{
    color: #fff;
    font-size: 15px;
    display: block;
}
.reference-author p strong{
    display: block;
}

/*==============================================================================================
            PRICE- properties
==============================================================================================*/
.pricing-box {
   border: 3px solid #00d5e5;
   padding: 50px 0;
   margin: 17px 0;
}
.pricing-box-lg{
    background-color: #00d5e5;
}
.first-box{
    border: 3px solid #00d5e5;
    margin-bottom: 26px;
    margin-top: 18px;
    padding-top: 43px;
    padding-bottom:132px;  
}

h4.pricing-title{
    background-color: #00d5e5;
    color: #fff;
    display: inline-block;
    padding: 7px 15px 7px 15px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 700; 
}
span.pricing-value{
    display: block;
    color:#373737;
    margin-bottom: 3px;
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
}
span.price.price-annual{
    display: inline;
    margin-right: 3px;
    font-size: 28px;
    font-weight: 600;
    line-height: 24px;
}
p.pricing-description{
    margin-bottom: 18px;
    margin-left:5px;
    font-size: 14px;
    line-height: 25px;
    padding-right: 20px;
    text-align: left;
    display: block;
    box-sizing: border-box;
}
p.pricing-box-lg{
    margin-top: 0px;
    margin-bottom: 18px;
    margin-left:5px;
    font-size: 14px;
    line-height: 25px;
    padding-right: 20px;
    text-align: left;
    display: block;
    box-sizing: border-box;
}
.pricing-box-lg h4.pricing-title{
    color:#00d5e5;
    background-color: #fff;
}
.pricing-box-lg ul.pricing-spec span, .pricing-box-lg ul.pricing-spec strong{
    color: #fff;
}

span.limits-pricing{
    display: block;
    min-height: 36px;
    color:#00d5e5;
    font-size: 14px;
    line-height:18px;
    box-sizing: border-box;
    margin:0 0 0 150px;
    padding: 0;
    text-align: left;
}
ul.pricing-spec{
    list-style: none;
    padding-left:0;
    margin:20px 0 60px 0;
}
ul.pricing-spec .simple-prototyping{
    margin-top:67px;
    margin-bottom:92px;
}

ul.pricing-spec .system-of-web-design{
    margin-top:20px;
    margin-bottom: 46px;
}

ul.pricing-spec li strong{
    box-sizing: border-box;
    margin-bottom:18px;
    margin-left: 2px; 
    padding-right:160px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

}
ul.pricing-spec li span{
        font-weight: 400;
        margin-bottom: 18px;
        margin-left: 10px;
        font-size: 14px;
        line-height: 18px;
        padding-right: 20px;
        text-align: left;
        display: block;
        box-sizing: border-box;
}
a.btn.btn-lg.btn-general.btn-blue {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    border-color: skyblue;
    
}

.btn-pricing.btn-blue:hover {
    background-color:#386a8d;
    color:#fff;
    text-decoration: none;
}
.btn-blue:hover,.btn-blue:focus{
    background-color: #386a8d;
    color: #fff;
}
#pricing-annotation p{
    width: 100%;
    /*position: absolute;*/
    
    color:#00d5e5;
    font-size: 11px;
    text-align: center;
    margin-right:30px;
}
/*==============================================================================================
            STATISTIC- properties
==============================================================================================*/
#status-cover{
    background-image:url("../img/REFERENCE/background-reference.jpg");
    

}
#statistic .content-box{
    background-color:rgb( 153, 153, 103,0.9) ;
}
#content-title-statistic h3{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0px;
}
.state-item{
 padding:100px 0;   
}
.state-item i{
    color:#386a8d;
}
.state-item h2{
    color:white;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}
.state-item p{
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 13px;
}

/*==============================================================================================
            CLIENTS- properties
==============================================================================================*/
.client{
    padding: 0 40px;
}

/*==============================================================================================
                    CONTACT section- properties
==============================================================================================*/
footer{
    background-color: #386a8d;
    padding-top:30px;
    border-top:5px solid rgb(0,0,0,0.1);   
}

#contact-left h3 ,#contact-right h3{
    color: #fff;
    font-size:27px;
    font-weight: 700;
}
#contact-left {
    color:#fff;
    margin-bottom: 30px;
}
#contact-left-p{
    color: #fff;
}
#contact-info{
    background-image:url("../img/contact-element/world-map.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    opacity: 0.6;
    border-color: 1px #d6d6d6;

}
address{
    padding-top: 10px;
}
address strong, #phone-mail strong{
    color: #053467;
    margin-left: 10px;
    margin-top:20px;
    letter-spacing: 2px;
}
address p{
    color:#053467;
    margin-left: 15px;
}
#phone-mail span{
    color:#053467;
}
form .form-control{
    background:transparent;
    border-radius: 0;
    border-color: #fff;
    font-size:15px;
    font-weight: 300;
    padding:  8px 16px;
    margin-bottom: 20px;
}
form .form-control{
    background: transparent;
    border-radius:0;
    border-color: #fff;
    font-size:15px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color:#fff;
}
/*==============================================================================================
                    FOOTER- properties
==============================================================================================*/
#footer-bottom{
    background-color:rgb(0,0,0,0.1);
    padding: 30px 0;
    margin-top: 60px;
}
#footer-copyrights p{
    margin: 0;
    color:#fff;
    text-align: center;
    font-size: 12px;
}
#footer-menu{
    text-align: center;
    color:#fff;
    font-size: 10px;
    font-weight: 200;

}
#footer-menu ul{
    list-style: none;
    padding-left:0;
    margin: 0;
}
#footer-menu ul li{
    display:inline-block;
}
#footer-menu a{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 5px;
    text-decoration: none; 
}
#footer-menu a:hover{
    color:#34c6d3;
}
/*==============================================================================================
                    NAVIGATION- properties
==============================================================================================*/
.navbar{
    padding: 20px 0;
    transition: all .5s ease-in-out;
}
.agency-navbar-top{
    background-color:rgba(0, 0,0);opacity:0.5;
    padding: 20px 0;
}
.agency-nav-wrapper{
    padding:0 85px;

}
ul.navbar-nav{
    float:right;
}
.navbar-nav li {
color: #fff;
font-size: 10px;
text-transform: capitalize;
letter-spacing:5px;
padding-left:5px;
padding-right: 5px;
}
.navbar-nav li:hover, .navbar-nav li:focus{
    background: none;
    color:#386a8d;
}
.navbar-nav>li>a {
    padding-top: -5px;
    padding-bottom: 15px;
}
.navbar-inverse .navbar-nav>li>a{
    border: 1px solid gray;
}
.navbar-toggle{
background-color: rgb(0,0,0,0.1);
border: 1px solid white;
border-radius:0;
}
.navbar-toggle .icon-bar{
    background-color:#fff;
}
.navbar-collapse{
    max-height: none !important;
}
.agency-navbar-top ul.navbar-nav >li.active >a{
   color:red;
}
/*==============================================================================================
                    BLOG- properties
==============================================================================================*/