
/*===========================================================================================
COMMON FEATURES:
FONTS:Montserrat;
      Roboto
COLOR PALLETE:
TEAL BLUE: rgba(56, 106, 141, 1);#386a8d;(BUTTONS,ICONS,LINES,BACKGROUNDS)
PALE GOLD: rgba(229, 199, 137, 1);#e5c789;(HEADINGS)
LIGHT STEEL BLUE: rgba(105, 130, 171, 1);#bac6d8;(PARAGRAPHS)
OLIVINE: rgba(156, 176, 113, 1);#9cb071;(TEXT WITH SPECIAL BACKGROUNDS)
SUNRAY: rgba(236, 183, 89, 1);#ecb759;(SUPPORTED COLOR)

===========================================================================================*/

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/*==============================================================================================
                        HOME 
==============================================================================================*/

#home-cover{
    height: 100%;
    background-image: url("../img/head.jpg");
}