body{
    margin: 0;
    padding: 0;
    background: yellowgreen;

}

.box{
    margin-top: 10px;
    margin-left: 900px;
    margin-right: 44px;
    position: absolute;
    padding: 5px;
    background:#32cdab;
}
.box a {
    width: 40px;
    height: 40px;
    float: left;
    text-indent:-9999px;
    margin: 5px;
    cursor: pointer;
}
#red{
    background:#E81123;
}
#blue{
    background:#0063B1;
}
#pink{
    background: #EA005e;
}
#gray{
    background:#4C4A48;
}

#yellow{
   background:#FFB900;
}
/*CIRCLE*/

.circle{
    width:40vh;
    height: 40vh;
    background-image: url("images/photo.jpeg");
    background-position:57%;
    border-radius: 50%;
    border-bottom:120px solid orange ;
    border-top: 120px solid green;
    border-left: 120px solid blue;
    border-right: 120px solid red;
    margin: 0 auto;
    transition:transform 8ms ease,border 3s ease-in-out;
}
.active{
    transform: rotate(3600deg);
    border-bottom-color: orange;
    border-top: yellowgreen;
    border-left: pink;
    border-right: fuchsia;
    background-color: white;

}
/*button hove heart*/
#btn-heart{
    width: 200px;
    height: 90px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1d107;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}
#btn-heart:before{
        color: rgb(20, 122, 71);
        content: 'Catch me';
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s;
    }
#btn-heart:hover:before{
    top:-30px; 
}
#btn-heart:after{
    font-family: 'Ionicons';
    content: '\f141';
    font-size: 40px;
    color: red;
    position: absolute;
    top:46%;
    left: 50%;
    transform: translate(-50%, -50%);
    top:140%;
    transition: all 0.5s;
}
#btn-heart:hover::after{
    top:50%;
}

/*button START*/
button{
    background-color: blue;
    color: green;
    width: 200px;
    height: 40px;
    margin: 23px auto;
    border: none;
    margin-left: 309px;
    align-content: center;
    border-radius: 6%;
}

/*div LIKE IT*/
#textLikeIt{
        margin: 565px 12px 12px auto;
        padding: 169px;
        font-family: Arial, Helvetica, sans-serif;
        background: transparent;
    }



h1{
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:0px;
    margin-left: 124px;
    margin-bottom: 145px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    background: url(images/harperbazzarUK.jpg);
    background-size: cover;
    top: 157%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    background-size: cover;
    /*-webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    -moz-background-clip: text;*/
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#text{  
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: bold;
        margin-left: 450px;
        margin-right: 400px;
        margin-top: 50px;
        font-size: 50px;
        text-align: center;
}
/*Minion div*/
#boxM{
    width: 300px;
    height: 350px;
    background-color: white;
    border: 2px solid grey;
    padding: 50px;
    position: absolute;
    top: 223%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:1;
}
#boxM:hover{
    cursor: wait;
}
#boxM #Minion{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}
#eye{
    width: 100px;
    height: 100px; 
    font-size: 100px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 18%;
    left: 41.6%;
}
/* button hover*/
#FadeIn{
    width: 605;
    height: 500px;
    border: 2px solid aliceblue;
    margin-left: 10px;
}
p{
    margin-left:50px;
    margin-top:80px;
    margin-bottom:50px;
    font-size: 15px;
}
#btnFirst{
    background: linear-gradient(90deg,#E2FF86,#8FFF87);
    height: 54px;
    width: 120px;
    display: none;
    border: 2px solid grey;
    font-family: Arial, Helvetica,sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color:#5E6ED4E6;
    margin-left:50px;
    margin-top:80px;
    margin-bottom:50px;
    border-radius:30%;
    text-align: center;
    line-height: 48px;
    border-radius: 50px;
    padding: -11px;
    position: absolute;
    transform: translate(-9%,-10%);
    /*overflow: hidden;*/
    z-index: 99;
    cursor: pointer;
}
#btnSecound{
    background: linear-gradient(90deg,#4FC3F7,#4CAF50);
    height: 54px;
    width: 120px;
    display: none;
    border: 2px solid grey;
    font-family: Arial, Helvetica,sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color:#5E6ED4E6;
    margin-left:251px;
    margin-top:80px;
    margin-bottom:50px;
    border-radius:30%;
    text-align: center;
    line-height: 48px;
    border-radius: 50px;
    padding: -11px;
    position: absolute;
    transform: translate(-9%,-10%);
    /*overflow: hidden;*/
    z-index: 99;
    cursor: pointer;
}
#btnThird{
    background: linear-gradient(90deg,#e57373,#AB47BC);
    height: 54px;
    width: 120px;
    display: none;
    border: 2px solid grey;
    font-family: Arial, Helvetica,sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color:#5E6ED4E6;
    margin-left:448px;
    margin-top:80px;
    margin-bottom:50px;
    border-radius:30%;
    text-align: center;
    line-height: 48px;
    border-radius: 50px;
    padding: -11px;
    position: absolute;
    transform: translate(-9%,-10%);
    /*overflow: hidden;*/
    z-index: 99;
    cursor: pointer;
}
#rodzic{
    border: 2px dashed green;
    height: 680px;
    background: lightcoral;
    width: 900px;
    margin-left: 20px;
}
#FadeIn{
    background-color: rgb(37, 233, 19);
    border: 3px solid whitesmoke;
    height: 224px;
    width:605px;
    float: left;
}
#Toggle{
    background-color: aqua;
    border: 2px dashed gray;
    width:605px;
    height: 292px;
    float: left;
    margin-top: 282px;
}
#btn-toggle{
background-color:#f8312a;
color: green;
width: 38%;
height: 40px;
margin: 23px auto;
    margin-left: auto;
border: none;
margin-left: 309px;
align-content: center;
border-radius: 6%;
}